<%- include('../partials/header') %>

<h2>Add Product</h2>
<form method="POST">
  <label>Title:</label>
  <input name="title" required>
  
  <label>Price:</label>
  <input name="price" type="number" required>

  <label>Description:</label>
  <textarea name="description" required></textarea>

  <label>Image URL:</label>
  <input name="imageUrl" required>

  <button type="submit">Add Product</button>
</form>

<%- include('../partials/footer') %>